.numbers  {

    background: yellow;
    height: 3508px;
    width: 2480px;

}

.main {
    background: aquamarine;
    height: 1000px;
    width: 2000px;
}

.my-content{
    height: 3540px;
    width: 2450px;
}


.my-menu {
    background:pink;
}


.parti-1 {

    height: 50px;
    background: burlywood;
}


.parti-2{
    height: 50px;
    background: blue;
}
.mon_menu{

    background: darkred;
    height: 500px;
}


.les_plats{

    background: blue;
}
.contenu{

    height: 750px;
}
.info{
    background: black;
    height: 400px;
}
.photo{
    background: yellow;
    height: 200px;
}